.advantages__title {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.advantages__description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 10px;
}

.advantages__thumb {
    background-color: #f5f4fa;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    
}

.advantages__item {
    max-width: 450px;


    @media screen and (min-width: 768px) {
        max-width: 354px;
        }

    @media screen and (min-width: 1200px) {
        max-width: 270px;
    } 
}

.advantages {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}





