.mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    
    @media screen and (min-width: 767px) {
        display: none;
    }
}


.mobile-menu-btn__icon {
    
        transition: fill var(--timing-duration) var(--timing-function);
    
        .mobile-menu-btn:hover &,
        .mobile-menu-btn:focus & {
            fill: var(--accent-color);
        }
}

.mobile-menu {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    padding: 48px 40px;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04),
        0px 2px 4px rgba(0, 0, 0, 0.08),
        0px 1px 3px rgba(0, 0, 0, 0.16);

    transition: opacity var(--timing-duration) var(--timing-function), visibility var(--timing-duration) var(--timing-function);

    @media screen and (min-width: 768px) {
        display: none;
    }

}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-navigation,
.mobile-social-list {
    list-style: none;
}

.mobile-navigation__link,
.mobile-social-list__link,
.mobile-menu__number,
.mobile-menu__email {
    text-decoration: none;
    color: inherit;
}

.mobile-navigation__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    
    color: var(--secondary-text-color);

    transition: color var(--timing-duration) var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.mobile-menu__current {
    color: var(--accent-color);
}

.mobile-navigation__item:not(:last-child) {
    margin-bottom: 32px;
}

.mobile-menu__number,
.mobile-menu__email {
    display: block;
}

.mobile-menu__number {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.176;
    letter-spacing: 0.02em;
    
    color: var(--accent-color);
}

.mobile-menu__email {
    margin-bottom: 64px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.02em;
}
    
.mobile-social-list {
        display: flex;
        align-items: center;
}


.mobile-social__item:not(:last-child)::after {
    content: '';
    width: 22px;
    height: 0px;
    margin-right: 10px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    
}

.mobile-social-list__link {
    margin-right: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}


.modal-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;

    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;

    transition: fill var(--timing-duration) var(--timing-function);

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

