:root {
    --secondary-text-color: #212121;
    --primary-text-color: #757575;
    --accent-color: #2196f3;
    --secondary-font-color: #2f303a;

    --timing-duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}